@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

:root{
    --purple: #2C2273;
    --orange: #F66003;
}
*{
    margin:0;
    padding:0;
}
img{
    max-width:100%;
}
h2{
    text-transform: uppercase;
    font-weight: 900;
}
.mobile-only{
    display: none !important;
}
@media screen and (max-width: 700px) {
    .mobile-only{
        display: block !important;
    }
    .btn.nav-btn{
        background-color: transparent;
        width: 20px;
        height: 25px;
        text-align: center;
        font-size: 1.3rem;
        font-weight:normal;
        transform:rotate(90deg);
        position: absolute;
        z-index: 100;
        top:10px;
        right:10px;
    }
}
.text-orange{
    color: var(--orange);
}
.center{
    max-width:700px;
    margin:0 auto;
}
.subheader{
    font-size: 1rem;
    margin: 10px 0;
}
.subheader:before, .subheader:after{
    content:'';
    width:30px;
    height:2px;
    display: inline-block;
    background-color:var(--orange);
    margin: 3px 7px;
}


body{
    font-family: 'Montserrat', sans-serif;
}
div.header-wrapper{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
#navCb{
    display:none;
}
@media screen and (max-width: 700px) {
    div.header-wrapper {
        display: block;
        max-height:0;
        overflow: hidden;
        transition: max-height .3s ease;
    }
    #navCb:checked ~ div.header-wrapper{
        display: block;
        max-height:500px;
    }
}
header{
    position: absolute;
    z-index: 1;
    width:100%;
}
header svg{
    height: 20px;
    fill: #fff;
    display:inline-block;
    margin: 0 auto;
}
header a{
    text-decoration:none;
    color:#fff;
}
header a.logo{
    font-weight:bold;
    font-size:1.4rem;
    padding-left: 20px;
}
header nav a{
    text-transform:uppercase;
    font-size:0.8rem;
    padding:8px 6px;
    position:relative;
}
header nav a.active:after{
    content:'';
    display:inline-block;
    position: absolute;
    bottom:0;
    left:6px;
    width:20px;
    height:3px;
    background-color:#fff;
}
div.header-wrapper div:nth-child(3){
    display: flex;
}
div.header-wrapper div:nth-child(3) a{
    background-color:#F66003;
    display:inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
}
div.header-wrapper div:nth-child(3) a:nth-child(2){
    background-color: #2C2273;
}
@media screen and (max-width: 700px) {
    header a.logo{
        padding: 10px 20px;
    }
    div.header-wrapper{
        padding-top: 50px;
        text-align: center;
        background-color: rgba(0,0,0,0.9);
    }
    div.header-wrapper nav a{
        display: block;
        padding: 10px 20px;
    }
    div.header-wrapper nav a.active{
        color:var(--orange);
    }
    div.header-wrapper nav a.active:after{
        display: none;
    }
}

#intro{
    background-image: url('intro2.jpg');
    background-size: cover;
    min-height: 100px;
    overflow: hidden;
    position: relative;
}
#intro h1, #intro h2{
    color: #fff;
    text-transform: uppercase;
}
#intro h1{
    font-size: 4rem;
    font-weight: 900;
    line-height: 3.8rem;
    margin-top: 1rem;
    margin-bottom: 20px;
}
#intro h2{
    font-size: 1rem;
    font-weight: normal;
}
#intro-content{
    max-width: 400px;
    margin: 0 auto;
    padding: 150px 0;
}
@media screen and (max-width: 700px) {
    #intro-content{
        padding: 100px 20px;
    }
    #intro h1{
        font-size: 3rem;
        line-height: 2.8rem;
    }
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 1.2rem;
    text-decoration: none;
    color:#000;
    border:2px solid #F66003;
    font-size: .8rem;
    font-weight: bold;
    background-color:#fff;
}
.btn.white{
    background-color:transparent;
    color:#fff;
    border-color: #fff;
}
@keyframes shadow-flying {
    0%{
        left:-30%;
    }
    50%{
        left: 50%;
    }
    100%{
        left:-30%;
    }
}
#intro div.shadow-text{
    position:absolute;
    top:50px;
    font-size:12rem;
    color:rgba(255,255,255,0.1);
    font-weight: 900;
    animation: shadow-flying 50s infinite;
}
#services{
    background-color: var(--purple);
    color:#fff;
}
.services-list{
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 0;
}
@media screen and (max-width: 700px) {
    .services-list{
        grid-template-columns: 1fr;
        padding: 40px 20px;
        gap: 20px;
    }
}
.service{
    display:grid;
    grid-template-columns: 50px 1fr;
}
.service span.number{
    color:var(--orange);
    font-weight: bold;
}
.service span.number:after{
    content:'';
    width:24px;
    height:1px;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 10px;
    background-color:var(--orange);
}
.service h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size:1.3rem;
    margin-bottom: 7px;
}
.service a{
    color: rgba(255,255,255,0.7);
    text-transform:uppercase;
    font-size: .8rem;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
}


#about .columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width:700px;
    padding: 50px 0;
    margin: 0 auto;
}
@media screen and (max-width: 700px) {
    #about .columns{
        grid-template-columns: 1fr;
        padding: 30px 20px;
        gap:20px;
    }
}
.huge-with-image{
    font-size: 10rem;
    line-height:7.2rem;
    font-weight: 900;
    background-image: url('smoke.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#about h3{
    font-size:1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
#about h3:before{
    content:'';
    width:50px;
    height:2px;
    display: inline-block;
    margin-bottom: 5px;
    background-color:var(--orange);
    position:relative;
    left:-10px;
}
#about p{
    font-size: .8rem;
    color:#555;
    margin-bottom:20px;
    line-height:1.2rem;
}


#clients{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #F5F0EC;
    gap:1px;
}
@media screen and (max-width: 700px) {
    #clients{
        grid-template-columns: repeat(3, 1fr);
    }
}
#clients div{
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 30px;
    background-color:#fff;
}
#clients div img{
    opacity:0.6;
}

.cases{
    background-color: #F5F0EC;
    padding: 50px 0;
    text-align: center;
}
.case-list{
    display:grid;
    gap:20px;
    grid-auto-flow: column;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    padding-bottom: 20px;
}
.case-list img{
    scroll-snap-align: start;
    display:block;
    width: 40vw;
    max-width:none;
}

#numbers{
    background-color: var(--purple);
    color:#fff;
}
#numbers .columns{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#numbers .columns > div{
    display:flex;
    justify-content: center;
    align-items: center;
}
#numbers div.number{
    font-size:2em;
    font-weight:900;
    padding-right: 10px;
}
#numbers div.label{
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: left;
}
@media screen and (max-width: 700px) {
    #numbers .columns > div{
        display: block;
    }
    #numbers div.label, #numbers div.number{
        text-align: center;
        padding-right: 0;
    }
}

#why{
    padding-top:50px;
    padding-bottom: 50px;
    text-align: center;
}
.reasons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    margin-top: 40px;
}
@media screen and (max-width: 700px) {
    .reasons{
        grid-template-columns: 1fr;
        padding: 20px;
        margin-top:0;
    }
}
.reason{
    text-align:left;
    background-color: #F9EFED;
    padding: 20px;
    position:relative;
}
.reasons .number{
    font-size:6rem;
    position: absolute;
    z-index: 1;
    top:-30px;
    right:-10px;
    color:#fff;
    font-weight: 900;
}
.reasons h3, .reason p{
    position:relative;
    z-index: 3;
}
.reason h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size:1rem;
    font-weight: 900;
}
.reason p{
    font-size:.8rem;
    color:#555;
    margin-bottom:20px;
}

#mission{
    background-image: url('team.jpg');
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
.boxy-columns{
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 700px) {
    #mission{
        padding: 50px 20px;
    }
    .boxy-columns{
        grid-template-columns: 1fr;
    }
}
.boxy-columns div:first-child {
    background: linear-gradient(135deg, #F53867 0%, #F89D28 100%);
    color: #fff;
    font-size: 2.6rem;
    line-height: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
}
.boxy-columns div:last-child {
    padding: 20px;
}
.boxy-columns div:last-child h2{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.boxy-columns div:last-child p{
    margin-bottom: 40px;
    font-size: .8rem;
    line-height:1.4rem;
    color:#555;
}
@media screen and (max-width: 700px) {
    .boxy-columns div:last-child h2{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .boxy-columns div:last-child p{
        margin-bottom: 20px;
    }
}

#team{
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}
#team .shadow-text{
    font-size: 8rem;
    position: absolute;
    color: rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-weight: 900;
    top:50px;
    left:10px;
    z-index: -1;
}
.members{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:20px;
}
@media screen and (max-width: 700px) {
    .members{
        padding: 0 20px;
    }
}
.role-info{
    color: var(--orange);
    font-weight:bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.role-info span.line{
    background-color: var(--orange);
    display: inline-block;
    width:20px;
    height:3px;
    margin-bottom: 3px;
}
.member h3{
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}
.member .social a{
    display: inline-block;
    margin-right: 5px;
}
.member .social svg{
    height: 14px;
    fill:#888;
}

.boxy-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:#fff;
    position:relative;
    top:-100px;
}
.boxy-links > div{
    padding: 50px;
}
@media screen and (max-width: 700px) {
    .boxy-links{
        padding: 20px;
    }
    .boxy-links > div{
        padding: 20px;
    }
}
.boxy-links > div:first-child{
    background: linear-gradient(135deg, #F53867 0%, #F89D28 100%);
}
.boxy-links > div:last-child{
    background-color:var(--purple);
}
.boxy-links > div h2{
    margin-top: 20px;
    margin-bottom:20px;
}
.boxy-links > div h3{
    position: relative;
    left:-15px;
    font-size:.9rem;
}
@media screen and (max-width: 700px) {
    .boxy-links > div h3{
        font-size:.7rem;
    }
}
.boxy-links > div h3:before{
    content:'';
    display:inline-block;
    width:30px;
    height:2px;
    background-color: #fff;
    margin-bottom: 4px;
    margin-right: 10px;
}
footer{
    margin-top: 100px;
    position: relative;
    background-color: #181818;
    color:#fff;
}

.footer-info{
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.8fr;
    gap:20px;
    line-height:1.6rem;
}
@media screen and (max-width: 700px) {
    .footer-info{
        grid-template-columns:1fr;
        padding:20px;
    }
}
footer a.logo{
    color:#fff;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
footer .orange{
    color:var(--orange);
    font-weight: bold;
}
.footer-info{
    position: relative;
    top:-35px;
}
.footer-info a{
    color: #aaa;
    text-decoration: none;
    display:inline-block;
    width: 45%;
}
.footer-info h2{
    font-weight: bold;
    font-size:1rem;
    margin-bottom: 16px;
}